.add-notes-container {
    margin-top: 20px;
    margin-left: 220px;


}



.input-bar {
    width: 100%;
    max-width: 500px;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    }
}
