.card-container{
    width: 50px;
    display: flex;


}
.add-note-cnr{
    display: flex;
    margin-top: 10px;
}
.add-note-cnr {
    position: relative;
  }
  
  .note-actions {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .add-note-cnr:hover .note-actions {
    opacity: 1;
    visibility: visible;
  }
  
  div:hover .hover-icons {
    opacity: 1;
  }